@font-face {
    font-family: Clash Display;
    src: url(assets/fonts/ClashDisplay-Medium.otf);
}

body {
    height: 100vh;
    width: 100%;
    color: white;
    min-height: 100vh;
}

.topbar {
    display: initial;
    width: inherit;
    height: 110.5px;
}

nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: -webkit-sticky;
    position: fixed;
    top: 0px;
    z-index: 1200;
}

.css-01 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: sticky;
    background: rgb(22, 22, 22);
}

.css-02 {
    display: flex;
    -webkit-box-align: center;
    place-items: center right;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 1800;
    width: 99vw;
    padding: 16px;
    padding-inline: 1rem;
    height: 56px;
    background: rgb(22, 22, 22);
}

.logo {
    color: white;
    font-size: 28px;
    font-family: Clash Display;
}

.logo span {
    color: #6ee9b1;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #6ee9b1;
    transition: .3s;
}

nav button {
    border: none;
    background: linear-gradient(180deg, #6ee9b1 0%, #256548 100%);
    padding: 12px 30px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    font-family: Clash Display;
}

nav button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(22, 22, 22);
    overflow: hidden;
    gap: 3rem;
}

.home-container {
    background-color: #161616;
    opacity: 1;
    background-image: radial-gradient(#818181 2px, #161616 2px);
    background-size: 80px 80px;
}

.landing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    padding-top: 12rem;
}

@media screen and (min-width: 720px) {
.landing {
    padding-top: 9rem;
}
}

.css-03 {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    border-radius: 16px;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 720px) {
.css-03 {
    grid-template-columns: repeat(2, 1fr);
    -webkit-align-content: left;
    -ms-flex-line-pack: left;
    align-content: left;
    width: 90%;
}
}

@media screen and (min-width: 1200px) {
.css-03 {
    width: 80%;
}
}

.watch-video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
}

@media screen and (min-width: 720px) {
.watch-video {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
}

.video-btn {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    width: 255px;
    line-height: 1.2;
    border-radius: 8px;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 200ms;
    height: 50px;
    min-width: 2.5rem;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background: #234d3a;
    border: 1px solid #6ee9b1;
    padding: 16px;
    color: #FCFCFC;
    font-family: Clash Display;
    transition:0.4s;
}

.css-04 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    max-width: 100%;
    -webkit-align-self: left;
    -ms-flex-item-align: left;
    align-self: left;
}

@media screen and (min-width: 720px) {
.css-04 {
    -webkit-align-content: left;
    -ms-flex-line-pack: left;
    align-content: left;
    max-width: 80%;
}
}

.css-05 {
    font-family: Clash Display;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 2rem;
    text-align: center;
    overflow-wrap: normal;
    word-break: keep-all;
    transition: .4s;
}

@media screen and (min-width: 720px) {
.css-05 {
    line-height: 50px;
    text-align: left;
}
}

@media screen and (min-width: 1200px) {
.css-05 {
    font-size: 48px;
}
}

.css-06 {
    display: inline;
    background-image: radial-gradient(128.15% 697.56% at 9.91% 100%, #6ee9b1 0%, #9db569 57.68%, #FFE3AB 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.css-07 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0.5rem;
}

.css-08 {
    max-width: 80ch;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(160, 160, 160);
}

@media screen and (min-width: 720px) {
.css-08 {
    text-align: left;
}
}

.css-09 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: left;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 720px) {
.css-09{
    -webkit-align-items: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
}

.css-10 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: 8px;
    font-weight: 600;
    transition-duration: 200ms;
    height: 3rem;
    min-width: 142px;
    font-size: 1rem;
    -webkit-padding-start: 18px;
    padding-inline-start: 18px;
    -webkit-padding-end: 18px;
    padding-inline-end: 18px;
    background: linear-gradient(180deg, #6ee9b1 0%, #256548 100%);
    padding: 16px;
    color: black;
    font-family: Inter;
    margin-right: 20px;
    font-family: Clash Display;
    transition: 0.4s;
}

.css-11 {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
}

.css-12 {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: 8px;
    font-weight: 600;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 200ms;
    height: 3rem;
    min-width: 2.5rem;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background: rgb(60, 24, 26);
    border: 1px solid rgb(84, 27, 31);
    padding: 16px;
    color: #FCFCFC;
    font-family: Inter;
    z-index: 1100
}

.css-13 {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
}

.css-14 {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: 8px;
    font-weight: 600;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 200ms;
    height: 3rem;
    min-width: 2.5rem;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background: linear-gradient(rgb(44, 44, 44) 0%, rgb(28, 28, 28) 100%);
    padding: 16px;
    color: #FCFCFC;
    font-family: Inter;
    z-index: 1100;
    font-family: Clash Display;
    transition:0.4s;
}

.css-15 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    width: 100%;
}

.css-16 {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    width: fit-content;
    line-height: 1.2;
    border-radius: 180px;
    font-weight: 600;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 200ms;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    color: #FCFCFC;
    background: rgb(35, 35, 35);
    padding: 16px;
    font-family: Inter;
    align-self: center;
    font-family: Clash Display;
    font-weight: 100;
    letter-spacing: 1px;
}

@media screen and (min-width: 720px) {
.css-16 {
    align-self: start;
}
}

@media screen and (min-width: 720px) {
.css-17 {
    display: inline;
}
}

.css-18 {
    width: 1em;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
}

.css-19 {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: minmax(258px, 343px);
    width: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    min-height: 100%;
}

@media screen and (min-width: 720px) {
.css-19 {
    width: 100%;
}
}

.css-20 {
    display: grid;
    grid-template-areas:
        "icon text"
        "icon heading";
    grid-template-columns: 48px 3fr;
    background: rgb(28, 28, 28);
    padding: 16px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

@media screen and (min-width: 720px) {
.css-20 {
    width: 343px;
    height: 72px;
}
}

@media screen and (min-width: 1200px) {
.css-20 {
    width: 453px;
    height: 100px;
}
}

.css-21 {
    place-self: center start;
    grid-area: icon / icon / icon / icon;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 180px;
    background: rgb(60, 24, 26);
}

.css-22 {
    place-self: center start;
    grid-area: icon / icon / icon / icon;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 180px;
    background: rgb(52, 28, 0);
}

.css-23 {
    font-size: 0.875rem;
    grid-area: text / text / text / text;
    justify-self: start;
    color: rgb(160, 160, 160);
    font-weight: bold;
}

@media screen and (min-width: 720px) {
.css-23 {
    font-size: 1rem;
}
}

.css-24 {
    font-size: 0.875rem;
    font-weight: 600;
    grid-area: heading;
    justify-self: start;
}

@media screen and (min-width: 720px) {
.css-24 {
    font-size: 1.25rem;
}
}

@media screen and (min-width: 1200px) {
.css-24 {
    font-size: 1.5rem;
}
}

.css-25 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 1rem;
    overflow: hidden;
}

@media screen and (min-width: 720px) {
.css-25 {
    height: 2rem;
}
}

.css-26 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 16px;
}

@media screen and (min-width: 380px) {
.css-26 {
    -webkit-padding-start: 3em;
    padding-inline-start: 3em;
    -webkit-padding-end: 3em;
    padding-inline-end: 3em;
}
}

@media screen and (min-width: 1200px) {
.css-26 {
    -webkit-padding-start: 1em;
    padding-inline-start: 1em;
    -webkit-padding-end: 1em;
    padding-inline-end: 1em;
}
}

.css-27 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 50px;
    width: 90%;
}

@media screen and (min-width: 720px) {
.css-27 {
    width: 70%;
}
}

.css-28 {
    font-family: Clash Display;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
.css-28 {
    font-size: 40px;
    line-height: 40px;
}
}

.css-29 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 35px 0px;
    width: 70%;
}

.css-30 {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(160, 160, 160);
}

.roadmap {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #161616;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23818181' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23161616'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.roadmap .roadmap-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 76px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 66px;
}

.text-center {
    text-align: center!important;
}

.roadmap .roadmap-section {
    background: #232323;
    box-shadow: 0 12px 32px rgb(0 0 0 / 8%);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    max-width: 968px;
    min-height: 182px;
    margin-bottom: 22px;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.roadmap .col, .roadmap .row {
    height: 100%;
}

.row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(0*-1);
    margin-right: calc(1.5rem*-0.5);
    margin-left: calc(1.5rem*-0.5);
}

.roadmap .col, .roadmap .row {
    height: 100%;
}

.text-center {
    text-align: center!important;
}

@media (min-width: 768px) {
.col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col {
    flex: 1 0;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1.5rem*0.5);
    padding-left: calc(1.5rem*0.5);
    margin-top: 0;
}

.roadmap .roadmap-image-div {
    position: relative;
    height: 182px;
    width: 100%;
}

.roadmap .roadmap-image {
    width: 112px;
    height: 112px;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img, svg {
    vertical-align: middle;
}

.roadmap .col, .roadmap .row {
    height: 100%;
}

@media (min-width: 768px) {
.col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col {
    flex: 1 0;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1.5rem*0.5);
    padding-left: calc(1.5rem*0.5);
    margin-top: 0;
}

.roadmap .roadmap-section .title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FCFCFC;
    margin-top: 22px;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.roadmap .roadmap-section .list {
    margin-top: 12px;
}

.roadmap .roadmap-section .point {
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 28px;
    color: #FCFCFC;
    list-style: disc;
}

.roadmap .roadmap-section .list-right {
    margin-top: 72px;
}

.css-31 {
    font-family: Clash Display;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

@media screen and (min-width: 720px) {
.css-32 {
    grid-template-columns: repeat(3, 1fr);
}
}

.css-32 {
    display: grid;
    grid-gap: 2rem;
    justify-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
}

.css-33 {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
}

.hover:hover {
    transform: scale(1.2);
}

.hover-down:hover {
    transform: scale(0.9);
}

.css-34 {
    background-color: #161616;
    min-height: 100vh;
    overflow: hidden;
    transition: all 50ms linear 0s;
}

.css-35 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    gap: 1.25rem;
    width: 100%;
    height: auto;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    position: static;
}

.css-36 {
    width: 100%;
    height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.css-37 {
    width: 100%;
    padding: 0px 20px;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;
    max-width: 1200px;
}

.css-38 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    width: 100%;
}

.css-39 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    gap: 0px;
    width: 100%;
    height: auto;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    position: static;
}

.text-theme-gray {
    --tw-text-opacity: 1;
    color: rgb(140 158 166/1);
}

.css-40 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    gap: 1.25rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    overflow: visible;
}

@media (min-width: 1024px) {
.padding-around-graph {
    padding: 1rem;
}
}

.padding-around-graph {
    padding: 1rem;
}

.to-theme-bg {
    --tw-gradient-to: #161b1d;
}

.via-theme-bg {
    --tw-gradient-to: rgba(22,27,29,0);
    --tw-gradient-stops: #000,#161b1d,#161b1d;
}

.from-black {
    --tw-gradient-from: #000;
    --tw-gradient-to: transparent;
    --tw-gradient-stops: #000,#161b1d;
}

.bg-gradient-to-tl {
    background-image: linear-gradient(to top left, #000,#161b1d,#161b1d);
}

.bg-theme-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(22 27 29/1);
}

.rounded-3xl {
    border-radius: 1.5rem;
}

.css-41 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: start;
    -webkit-box-align: start;
    gap: 0px;
    width: auto;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    position: static;
}

.css-42 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    gap: 0px;
    width: auto;
    height: auto;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    position: static;
}

.css-43 {
    padding: 24px 0px;
    border-radius: 14px;
    font-size: 18px;
    font-family: Clash Display;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color: rgb(110, 233, 177) !important;
}

.css-43 > * {
    font-family: Clash Display;
}


.css-44 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    gap: 0.5rem;
    width: auto;
    height: auto;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    position: static;
}